.map-page {
	background-color: #161616;
	width: 100%;
    color:#fff;
	padding-top: 100px;
	display: flex;

}

.map-page .block {
    position: fixed;
    display: flex;
    flex-direction: column;
	background-color: #232323;
	padding: 20px;
	border-radius: 10px;
    left: 20px;
}

.map-page .title{
    font-size: 1.5rem;
    font-weight: 800;
    color: #ff4655;
    text-transform: uppercase;
}

.map-page .menu-title {
    font-size: 1.5rem;
    font-weight: 800;
	border-bottom: 2px solid #ff4655;
}

.map-page .save-button{
    background-color: #585349;
    color:#fff;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.map-page .save-button-unsaved{
    background-color: #6ec47d;
    color:#fff;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.map-page .add-lineup-button{
    background-color: #FF4655;
    color:#fff;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map-page .config-block{
    position: fixed;
    right: 20px;
}

.map-page .options-block {
    
    
    display: flex;
    flex-direction: column;
	background-color: #232323;
	padding: 20px;
	border-radius: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.map-page .map-img{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.map-page .lineup-block {
    display: flex;
    flex-direction: column;
	background-color: #232323;
	padding: 20px;
	border-radius: 10px;
    gap: 10px;
    
}

.map-page .line-block {
    display: flex;
    flex-direction: column;
	background-color: #424242;
	padding: 20px;
	border-radius: 10px;
    left: 15px;
}

.map-page .line-block-disabled {
    display: flex;
    flex-direction: column;
	background-color: #363636;
	padding: 20px;
	border-radius: 10px;
    left: 15px;
}

.map-page .line-title{
    font-weight: 800;
    font-size: 0.9rem;
}
.map-page .line-block-disabled .line-title{
    font-weight: 800;
    font-size: 0.9rem;
    color:#B7B7B7;
}
.map-page .line-img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.map-page .line-button{
    margin-top: 10px;
    background-color: #FF4655;
    color:#fff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 800;
    box-shadow: 2px 3px 5px #1d1d1d;
    cursor: pointer;
}

.map-page .line-block-disabled .line-button{
    margin-top: 10px;
    background-color: #A8434B;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 800;
    box-shadow: 2px 3px 5px #1d1d1d;
    cursor: default;
    color: #B7B7B7;
}

.map-page .abilitys-select{
    margin-top: 10px;
}
.map-page .ability-button{
    background-color: #565656;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.map-page .line-block-disabled .ability-button{
    background-color: #565656;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: default;
}

.map-page .ability-button-selected{
    background-color: #D4D4D4;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.map-page .line-block-disabled .ability-button-selected{
    background-color: #565656;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor:default;
}
.map-page .ability-img{
    width: 25px;
    height: 25px;
    padding: 5px;
}

.map-page .line-input{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-weight: 800;
    color:#fff;
    background-color: #FF4655;
}
.map-page .line-input::placeholder{

    color:#fff;
    opacity:0.5;

}
.map-page .line-add{
    height: 40px;
    background-color: #FF4655;
    font-weight: 800;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

#pixel-box{
    fill:#4D5178;
    stroke: #FFFFFF;
    stroke-width: 2px;
}

#pixel{
    cursor: pointer;
}

#agent{
    cursor: pointer;
    
}
#map-click{
    position:absolute;
}

#agent:hover{
    color:#000;
    background-color:#000;
    fill:#000;
    stroke: #000;
}

#pixel-box:hover{
    color:#000;
    background-color:#000;
    fill:#000;
    stroke: #000;
}


.input-name{
    border: none; 
    border-width: 0; 
    box-shadow: none;
    background:none;
    color:#fff;
    font-size:1rem;
    border-bottom: 2px solid #ff4655;
    padding-bottom:5px;

}

.input-name:focus{
    outline: none;
}
